# Homework1-print,Variable and Operators in Python

# Hello World

In [2]:
print("Hello World")

Hello World

## Your Name

In [3]:
print("venkateshwara")

venkateshwara

### Welocme to HOPE Artificial intelligence

In [4]:
print("Welocme to HOPE Artificial intelligence")

Welocme to HOPE Artificial intelligence

# Variable

In [6]:
name=input("name:")
age=input("age:")

name:Venkateshwara
age:33

In [8]:
a=80
print(a)
b=23
print(b)
print("add=",a+b)

80
23
add= 103

In [9]:
a=322
b=234
print("a=",a)
print("b=",b)

a= 322
b= 234

In [10]:
a=60
b=3
print("a=",a)
print("b=",b)
print("addition=",a+b)
print("subtraction=",a-b)
print("multiplication=",a*b)
print("dividen=",a/b)

a= 60
b= 3
addition= 63
subtraction= 57
multiplication= 180
dividen= 20.0

# Exponential

In [11]:
a=2
b=3
print("a=",a)
print("b=",b)
a**b

a= 2
b= 3

8

# Floor division

In [12]:
a=31
b=6
print("a=",a)
print("b=",b)
a//b

a= 31
b= 6

5

# Equal

In [13]:
a=34
b=5
print("a=",a)
print("b=",b)
a==b

a= 34
b= 5

False

In [14]:
a=56
b=56
print("a=",a)
print("b=",b)
a==b

a= 56
b= 56

True

# Equal operator using string

In [16]:
str1="HOPE AI" 
str2="HOPE AI"
print("str1=",str1)
print("str2=",str2)
str1==str2

str1= HOPE AI
str2= HOPE AI

True

# Not equal

In [17]:
a=765
b=876
print("a=",a)
print("b=",b)
a!=b

a= 765
b= 876

True

# Greaterthan and lessthan

In [18]:
a=45
b=32
print("a=",a)
print("b=",b)
print("a is Greater than b:",a>b)
print("a is Lesser than b:",a<b)

a= 45
b= 32
a is Greater than b: True
a is Lesser than b: False

# greaterthan or equal to lesserthan or equal to

In [20]:
a=76
b=66
print("a=",a)
print("b=",b)
print("a is Greater than or equal to b:",a>b)
print("a is Lesser than or equal to b: ",a<b)

a= 76
b= 66
a is Greater than or equal to b: True
a is Lesser than or equal to b:  False